* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
h1, h2{
  text-align: center;
}
p {
  font-weight: bold;
  text-align: center;
  width: 95%;
}

.main {
  margin: 15px 20px 0 0;
  width: 70%;
  height: 400px;
  padding: 14px;
  border: solid;
  float: left;
  overflow-y: scroll;
}

.interests {
    float: left;
}

.profile {
  border-style: solid;
  margin: 12px 28px 8px 28px;
  width: 20%;
  height: 80%;
  float: left;
}


.icon-bar {
    width: 95%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    margin: 12px 28px;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)*/
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: yellow; /* Add a hover color */
    color: red;
}

.active {
    background-color: red; /* Add an active/current color */
}

.profile_info {
  width: 100%;
  float: left;
}

.img-circle {
  border-radius: 40%;
}

.profile_pic {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.info {
  text-align: center;
}

.social {
  width: 20%;
  height: auto;
  text-align: left;
  width: auto;
  padding-left: 48px;
}

.social img {
  width: 24px;
  height: auto;
}

.profile_pic img{
  width: 70%;
  height: auto;
}

.portfolio {
  text-align: center;
}

.portfolio img{
  width: 80%;
}

.about {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 2em, 2em;
}

img {
  border-color: black;
}
