* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
h1, h2{
  text-align: center;
}
p {
  font-weight: bold;
  text-align: center;
}


.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)*/
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: yellow; /* Add a hover color */
    color: red;
}

.active {
    background-color: red; /* Add an active/current color */
}

.profile {
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  padding: 4em, 0;
}

.img-circle {
  border-radius: 50%;
}

.profile_pic {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.info {
  background-color: grey;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.social {
  width: 20%;
  height: auto;
  text-align: center;
  background-color: white;
  width: auto;
}

.social img {
  width: 3em;
  height: auto;
}

.profile_pic img{
  width: 12em;
  height: 15em;
  /*align-items: center;*/
}

.portfolio {
  background-color: white;
}

.portfolio img{
  height: 4em;
  width: auto;
}
.about {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 2em, 2em;
}

img {
  border-color: black;
  height: auto;
}
