/* Reset */
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#d89279, #fed4a2);
  font: 14px Georgia, "Times New Roman", Times, serif;
  color: #888;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

main {
  width: 80%;
  max-width: 780px;
  margin: 10px auto;
  background-color: #232324;
}

/* Header */
header {
  width: 100%;
  margin: 50px 0;
  padding: 30px 0;
}

nav ul{
  display: flex;
  justify-content:space-around;
}

ul li{
  list-style-type: none;
  text-decoration: none;
}

.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.button {
  position:relative;
  /*padding:6px 15px;*/
  /*left:-8px;*/
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

/* Body */


.video {
  background-color: #232324;


  width: 100%;
  float: left;
}


.comment_bar li {
  list-style-type: none;
}

main .name {
  width: 50%;
  font-size: auto;
  float: left;
}

main .uplikes {
  width: 45%;
  float: left;
  text-align: right;
}
